<!--aboutme.html-->

{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>About Me</h1>
  <p class="lead">Alex Mednis</p>
</div>

<div class='container'>
<p> I created this site to host my resume and to learn how to create 
a simple app with the Flask framework.</p>

<p> In my free time I enjoy volunteering to run recreational games at
 the local seniors residence, which I do twice a week, I also enjoy
 scripting projects with python, such as this site. I also enjoy cooking,
and attend cooking classes that are hosted at the grocery store, trying 
out and making different cusines as well as foraging for edible plants 
and fruits.</p>

<p> I also have a passion for working with animals, I enjoy taking my dogs
 for a walk, and watching my goats roam,  and collecting eggs from my chickens.
 Sugar gliders are of a particular interest to me although I have opted
not to buy any yet as owning them is a full time job in and of itself.</p>

<p> I have recently gotten my safe food handler certificate, as well as my smartserve
 and cpr, and I am open to further courses to improve my skill set or enhance my 
education, exspecially in the realms of cooking, animal care, and computers.</p>

<p> Thanks for taking the time to read this, any questions or comments can
 be directed at my email  mednisalex@gmail.com </p>

<h4 align='left'> ---Alex Mednis</h4>


</div>

{% endblock %}
~                                                                                                             
~                                                                                                             
~                                                                                                             
~                                          
